* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0d4eb;
  color: black;
}

h1 {
  font-size: 2rem;
  margin: 20px;
  padding: 10px;
}
